<!-- Header -->
<header class="mb-3">
    <h1 i18n="heading">Comment properties</h1>
</header>

<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (domainMeta?.domain && comment) {
        <div class="row">
            <!-- Buttons: only for moderator+ and if comment isn't deleted -->
            @if (!comment.isDeleted && domainMeta!.canModerateDomain) {
                <div class="col-sm-auto order-sm-last pb-3">
                    <!-- Approve -->
                    <button [appSpinner]="updating.active" [class.active]="!comment.isPending && comment.isApproved"
                            (click)="moderate(true)"
                            type="button" class="btn btn-outline-success w-100 mb-2">
                        <fa-icon [icon]="faCheck" class="me-1"/>
                        <ng-container i18n>Approve</ng-container>
                    </button>
                    <!-- Reject -->
                    <button [appSpinner]="updating.active" [class.active]="!comment.isPending && !comment.isApproved"
                            (click)="moderate(false)"
                            type="button" class="btn btn-outline-warning w-100 mb-2">
                        <fa-icon [icon]="faXmark" class="me-1"/>
                        <ng-container i18n>Reject</ng-container>
                    </button>
                    <!-- Delete -->
                    <button [appSpinner]="deleting.active" (click)="delete()"
                            type="button" class="btn btn-outline-danger w-100">
                        <fa-icon [icon]="faTrashAlt" class="me-1"/>
                        <ng-container i18n>Delete</ng-container>
                    </button>
                </div>
            }

            <div class="col-sm">
                <!-- Detail table -->
                <dl id="comment-detail-table" class="detail-table">
                    <!-- Permalink -->
                    <div>
                        <dt i18n>Permalink</dt>
                        <dd>
                            <a [href]="comment.url" class="external-link" target="_blank"
                               rel="nofollow noopener noreferrer" title="Open in new tab" i18n-title>{{ comment.url }}</a>
                        </dd>
                    </div>
                    <!-- Parent comment -->
                    @if (comment.parentId) {
                        <div>
                            <dt i18n>Parent comment</dt>
                            <dd><a [routerLink]="['..', comment.parentId]">{{ comment.parentId }}</a></dd>
                        </div>
                    }
                    <!-- Domain page -->
                    @if (page) {
                        <div>
                            <dt i18n>Domain page</dt>
                            <dd><a [routerLink]="[Paths.manage.domains, page.domainId, 'pages', page.id]">{{ page.path }}</a></dd>
                        </div>
                    }
                    <!-- Status -->
                    <div>
                        <dt i18n>Status</dt>
                        <dd><app-comment-status-badge [comment]="comment"></app-comment-status-badge></dd>
                    </div>
                    <!-- Reason for pending status -->
                    @if (comment.isPending && comment.pendingReason) {
                        <div>
                            <dt i18n>Reason for pending status</dt>
                            <dd>{{ comment.pendingReason }}</dd>
                        </div>
                    }
                    <!-- Score -->
                    <div>
                        <dt i18n>Score</dt>
                        <dd>
                            <strong [class.text-danger]="comment.score! < 0"
                                    [class.text-success]="comment.score! > 0">{{ comment.score }}</strong>
                        </dd>
                    </div>
                    <!-- Sticky -->
                    <div>
                        <dt i18n>Sticky</dt>
                        <dd><app-checkmark [value]="comment.isSticky"/></dd>
                    </div>
                    <!-- Created -->
                    @if (comment.createdTime | datetime; as v) {
                        <div>
                            <dt i18n>Created</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Created by -->
                    @if (page) {
                        <div>
                            <dt i18n>Created by</dt>
                            <dd>
                                <!-- Domain user link if the current user is an owner+ -->
                                @if (commenter && domainMeta!.canManageDomain) {
                                    <a [routerLink]="[Paths.manage.domains, page.domainId, 'users', commenter.id]">
                                        <app-user-avatar [user]="commenter" size="S" class="me-1"/>
                                        <ng-container>{{ commenter.name }}</ng-container>
                                        @if (commenter.email) { ({{ commenter.email }}) }
                                    </a>

                                <!-- Commenter name otherwise -->
                                } @else {
                                    <!-- Existing, non-anonymous commenter -->
                                    @if (commenter) {
                                        <app-user-avatar [user]="commenter" size="S" class="me-1"/>
                                        <ng-container>{{ commenter.name }}</ng-container>
                                    }
                                    <!-- Anonymous commenter -->
                                    @if (!commenter && comment.userCreated === anonUserId) {
                                        <i i18n>(anonymous user)</i>
                                    }
                                    <!-- Deleted commenter -->
                                    @if (!commenter && comment.userCreated !== anonUserId) {
                                        <i class="text-muted" i18n>(deleted user)</i>
                                    }
                                }
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <!-- Comment text -->
        @if (comment.html) {
            <section>
                <h3 i18n>Comment text</h3>
                <div class="card">
                    <div class="card-body comment-text" [innerHTML]="comment.html"></div>
                </div>
            </section>
        }
    }

    <!-- Placeholder when no data -->
    @if (!domainMeta?.domain || !comment) { <app-no-data/> }
</div>
