@if (federatedIdps?.length) {
    <div [appSpinner]="loggingIn" spinnerSize="lg" class="d-grid gap-2 mb-3">
        <div class="form-label" i18n>Or login using:</div>
        @for (provider of federatedIdps; track provider.id) {
            <button (click)="loginWith(provider.id)" class="btn btn-{{ provider.id }}">
                <app-idp-icon [idpId]="provider.id" class="float-start pe-2 border-end me-2"/>
                <ng-container>{{ provider.name }}</ng-container>
            </button>
        }
    </div>
}
