<div [class.h-100]="fullHeight" class="col">
    <div [class.h-100]="fullHeight" class="card shadow-none border-0 position-relative">
        <!-- Chart -->
        @if (chartData; as d) {
            <div class="metric-chart">
                <canvas baseChart type="bar" [options]="chartOptions" [data]="d"></canvas>
            </div>
        }

        <!-- Card body -->
        <div class="card-body text-nowrap metric-card-body">
            <div class="card-title">
                <div class="metric-label">{{ label }}</div>
                @if (sublabel) {
                    <div class="metric-sublabel">{{ sublabel }}</div>
                }
            </div>
            <div class="card-text">
                <!-- Metric value -->
                @if (value !== undefined) {
                    <div [class.metric-value-1m]="value >= 1000000" class="metric-value">{{ value | number }}</div>
                } @else {
                    <!-- Spinner in case the value is not yet known -->
                    <div class="spinner-grow spinner-grow-sm" role="status"></div>
                }
            </div>
        </div>
    </div>
</div>
