@import "colours";

*, ::after, ::before {
    box-sizing: border-box;
}

code {
    font-family: monospace;
    font-size: 13px;
    white-space: pre;
}

a {
    color: $link-color !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer !important;

    &:not(.comentario-button){
        &:hover, &:focus {
            color: $link-hover-color !important;
        }
    }
}

blockquote {
    margin: 0 0 0 8px;
    padding: 0 0 0 5px;
    border-left: 2px solid $gray-5;
    color: $gray-6;
}

.comentario-add-comment-host {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $white;
    font-size: 15px;

    // Only show border and such when there's no editor inserted
    &:not(.comentario-editor-inserted) {
        min-height: 130px;
        border: 1px solid rgba(50, 50, 93, .1);
        border-radius: 3px;
        cursor: text;

        &:before {
            display: block;
            color: $gray-5;
            content: 'Add a comment';
        }
    }
}

// Margins

.comentario-ms-1 {
    margin-left: 0.25rem !important;
}

.comentario-me-1 {
    margin-right: 0.25rem !important;
}

// Font weight

.comentario-fw-bold {
    font-weight: bold !important;
}

// Font size

.comentario-small {
    font-size: 85%;
}

// Utilities

.comentario-hidden {
    display: none !important;
}

.comentario-text-center {
    text-align: center;
}

// Colourising

.comentario-text-success {
    color: $green-7 !important;
}
.comentario-text-danger {
    color: $red-7 !important;
}
.comentario-text-warning {
    color: $yellow-7 !important;
}
