{{- block "html" . -}}
<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "google-analytics" . }}
    {{- partial "head-meta" . }}

    <!-- Link to self -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}">

    <!-- Page title -->
    {{- partial "title" . }}

    <!-- Stylesheets -->
    <link href="{{ (resources.Get `main.scss` | toCSS | minify).Permalink }}" rel="stylesheet">
</head>
<body>

<!-- Scroll to top button -->
<a href id="btn-scroll-to-top" class="fas fa-angle-up float-button"></a>

<!-- Sidebar navigation -->
<a href="#sidebar" id="sidebar-toggler" class="fas fa-bars float-button" aria-controls="sidebar"></a>
<div class="sidebar-container collapsed">
    <div class="sidebar-backdrop"></div>
    <div class="sidebar">
        {{- partial "sidebar" . }}
    </div>
</div>

<!-- Main page content -->
<section id="content">
    <!-- Next version alert -->
    {{- partial "unstable-alert" . }}

    <div class="container py-3">
        <!-- Heading -->
        {{- block "heading" . }}
            {{- if default true .Params.showHeading }}<h1 class="mt-3">{{ .Title | markdownify }}</h1>{{ end }}
            {{- if default true .Params.showDescription }}
                {{- with .Params.description -}}
                    <p class="subheading"><i class="fas fa-chevron-right me-1"></i>{{ . | markdownify }}</p>
                {{- end -}}
            {{- end }}
        {{- end }}

        <!-- Main content -->
        {{- block "main" . }}
            {{- .Content }}
        {{- end }}
    </div>
</section>

<!-- Footer -->
{{- block "footer" . }}
    {{- partial "footer" . }}
{{- end }}

<!-- Scripts -->
{{- partial "scripts" . }}
</body>
</html>
{{- end -}}
