<!-- Header -->
<header class="mb-3">
    <h1 i18n="heading">Domain page properties</h1>
</header>

<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (domainMeta?.domain && page) {
        <div class="row">
            <!-- Buttons: only for owner+ -->
            @if (domainMeta!.canManageDomain) {
                <div class="col-sm-auto order-sm-last pb-3">
                    <!-- Update title button -->
                    <button [appSpinner]="updatingTitle.active" (click)="updateTitle()" type="button" class="btn btn-secondary w-100">
                        <fa-icon [icon]="faRotate" class="me-1"/>
                        <ng-container i18n>Update title</ng-container>
                    </button>
                </div>
            }

            <!-- Detail table -->
            <div class="col-sm">
                <dl id="page-detail-table" class="detail-table">
                    <!-- Domain -->
                    <div>
                        <dt i18n>Domain</dt>
                        <dd>
                            <a [routerLink]="[Paths.manage.domains, domainMeta!.domain!.id]"
                               class="internal-link">{{ domainMeta!.domain!.host }}</a>
                        </dd>
                    </div>
                    <!-- Path -->
                    <div>
                        <dt i18n>Path</dt>
                        <dd>
                            <a [href]="domainMeta!.domain!.rootUrl! + page.path" class="external-link"
                               target="_blank" rel="nofollow noopener noreferrer"
                               title="Open in new tab" i18n-title>{{ page.path }}</a>
                        </dd>
                    </div>
                    <!-- Title -->
                    @if (page.title; as v) {
                        <div>
                            <dt i18n>Title</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Read-only -->
                    <div>
                        <dt i18n>Read-only</dt>
                        <dd>
                            <!-- Switch: moderator+ -->
                            @if (domainMeta!.canModerateDomain) {
                                <div [appSpinner]="updatingReadonly.active" class="d-flex ps-1">
                                    <div class="form-check form-switch">
                                        <input [ngModel]="page.isReadonly" (ngModelChange)="toggleReadonly()"
                                               class="form-check-input" type="checkbox" role="switch" id="page-readonly-switch">
                                        <label class="form-check-label" for="page-readonly-switch" i18n>Read-only</label>
                                    </div>
                                </div>
                            } @else {
                                <app-checkmark [value]="page.isReadonly"/>
                            }
                            <!-- Checkmark: regular users -->
                            <div class="form-text" i18n>When a page is read-only, users cannot add comments to it.</div>
                        </dd>
                    </div>
                    <!-- Created -->
                    @if (page.createdTime | datetime; as v) {
                        <div>
                            <dt i18n>Created</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Number of comments -->
                    @if (page.countComments! >= 0) {
                        <div>
                            <dt i18n>Number of comments</dt>
                            <dd>{{ page.countComments | number }}</dd>
                        </div>
                    }
                    <!-- Number of views -->
                    @if (page.countViews! >= 0) {
                        <div>
                            <dt i18n>Number of views</dt>
                            <dd>{{ page.countViews | number }}</dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <!-- Comments -->
        <section>
            <!-- Heading -->
            <h2 i18n>Comments</h2>
            <!-- Comment list -->
            <app-comment-list [pageId]="page.id"/>
        </section>
    }

    <!-- Placeholder when no data -->
    @if (!domainMeta?.domain || !page) { <app-no-data/> }
</div>
