<!-- Render a button. Syntax:
     button "<URL>" "<title>" ["<primary|secondary|..." ["flags"]]
     flags:
       B = open in blank tab
       D = disabled
       F = add rel="nofollow"
       O = add rel="noopener"
       R = add rel="noreferrer"
-->
{{- $rel := slice -}}
{{- if in (.Get 3) `F` }}{{ $rel = $rel | append "nofollow" }}{{ end -}}
{{- if in (.Get 3) `O` }}{{ $rel = $rel | append "noopener" }}{{ end -}}
{{- if in (.Get 3) `R` }}{{ $rel = $rel | append "noreferrer" }}{{ end -}}
<a href="{{ .Get 0 | absLangURL }}" class="btn btn-{{ .Get 2 | default `primary` }}{{ if in (.Get 3) `D`}} disabled{{ end }}"
   {{- with $rel }} rel="{{ delimit . ` ` }}"{{ end -}}
   {{- if in (.Get 3) "B" }} target="_blank"{{ end -}}>{{ .Get 1 | markdownify }}</a>
