<div class="text-warning-emphasis mb-3 bg-warning-subtle d-flex">
    <div class="bg-dark bg-opacity-10 py-3 px-2">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
    <div class="p-3">
        {{ page.RenderString .Inner }}
    </div>
</div>
