<!-- User avatar, only when there's one -->
@if (user?.hasAvatar) {
    <div>
        <app-user-avatar [user]="user" size="L"></app-user-avatar>
    </div>
}

<!-- User details -->
@if (user) {
    <dl class="detail-table">
        <!-- ID -->
        <div>
            <dt i18n>ID</dt>
            <dd>
                <!-- Plain-text ID -->
                @if (!userLink) {
                    <span appCopyText class="text-copyable">{{ user.id }}</span>
                }
                <!-- User-linked ID -->
                @if (userLink) {
                    <a [routerLink]="[Paths.manage.users, user.id]" class="internal-link">{{ user.id }}</a>
                }
                <!-- Current user badge -->
                <app-current-user-badge [userId]="user.id" class="ms-2"></app-current-user-badge>
            </dd>
        </div>
        <!-- Federated user -->
        @if (user.federatedIdP; as v) {
            <div>
                <dt i18n>Federated user</dt>
                <dd>
                    @if (user.federatedSso) {
                        <span class="badge rounded-pill border border-dark text-dark me-2">SSO</span>
                    } @else {
                        <app-idp-icon [idpId]="v" class="me-1"/>{{ v }}
                    }
                    <ng-container>/{{ user.federatedId || '*' }}</ng-container>
                </dd>
            </div>
        }
        <!-- Name -->
        <div>
            <dt i18n>Name</dt>
            <dd>{{ user.name }}</dd>
        </div>
        <!-- Email -->
        @if (user.email; as v) {
            <div>
                <dt i18n>Email</dt>
                <dd><span appCopyText class="text-copyable">{{ v }}</span></dd>
            </div>
        }
        <!-- Language -->
        @if (user.langId; as v) {
            <div>
                <dt i18n>Language</dt>
                <dd>{{ v }}</dd>
            </div>
        }
        <!-- Banned -->
        @if (user.banned) {
            <div>
                <dt i18n>Banned</dt>
                <dd>
                    <app-checkmark/>
                    @if (user.bannedTime; as v) {
                        <span class="text-muted"> ({{ v | datetime }})</span>
                    }
                </dd>
            </div>
        }
        <!-- Remarks -->
        @if (user.remarks; as v) {
            <div>
                <dt i18n>Remarks</dt>
                <dd>{{ v }}</dd>
            </div>
        }
        <!-- Website URL -->
        @if (user.websiteUrl; as v) {
            <div>
                <dt i18n>Website URL</dt>
                <dd><a [href]="v" target="_blank" rel="nofollow noopener noreferrer">{{ v }}</a></dd>
            </div>
        }
        <!-- System account -->
        @if (user.systemAccount) {
            <div>
                <dt i18n>System account</dt>
                <dd><app-checkmark/></dd>
            </div>
        }
        <!-- Confirmed -->
        @if (user.confirmed) {
            <div>
                <dt i18n>Confirmed</dt>
                <dd>
                    <app-checkmark/>
                    @if (user.confirmedTime; as v) {
                        <span class="text-muted"> ({{ v | datetime }})</span>
                    }
                </dd>
            </div>
        }
        <!-- Superuser -->
        @if (user.isSuperuser) {
            <div>
                <dt i18n>Superuser</dt>
                <dd><app-checkmark/></dd>
            </div>
        }
        <!-- Created -->
        @if (user.createdTime | datetime; as v) {
            <div>
                <dt i18n>Created</dt>
                <dd>{{ v }}</dd>
            </div>
        }
    </dl>
}
